a, a:hover{
    text-decoration: none;
    color: black;
}
a:hover img{
     transform: scale(0.9);
}
.item-producto{
    width: 90%;
}
.item-producto img{
    width: 100%;
}
.item-producto-title{
    font-size: 1.5rem;
    margin: 3px;
}
.item-producto-price {
    margin: 2px;
}